<div class="about-container">
    <div class="card shadow-lg p-5 text-center">
        <h2 class="fw-bold">¡Hola! Soy Noe Carrillo</h2>
        <h5 class="text-primary">Estudiante de Desarrollo de Software Multiplataforma</h5>
        <p class="text-muted">
            Apasionado por la creación de aplicaciones web modernas y eficientes.  
            Me especializo en tecnologías como Angular, React y Node.js.  
            Siempre en búsqueda de nuevos retos y aprendizaje constante.
        </p>

        <div class="row mt-4" >
            <div class="col-md-6" >
                <h4 class="text-success">Habilidades</h4>
                <ul class="list-group">
                    <li class="list-group-item">⚡ Desarrollo Frontend (Angular, React)</li>
                    <li class="list-group-item">⚡ Backend con Node.js y Express</li>
                    <li class="list-group-item">⚡ Bases de Datos (MySQL, MongoDB)</li>
                    <li class="list-group-item">⚡ Diseño Responsivo con Bootstrap</li>
                </ul>
            </div>
            <div class="col-md-6" >
                <h4 class="text-warning">Proyectos Destacados</h4>
                <ul class="list-group">
                    <li class="list-group-item">📌 Aplicación de Gestión de Servicios</li>
                    <li class="list-group-item">📌 Dashboard Interactivo con Gráficos</li>
                    <li class="list-group-item">📌 Proyectos Angular</li>
                </ul>
            </div>
            <div class="mt-4">
                <h4 class="text-info">Redes Sociales</h4>
                <a style="margin-right: 20px;" href="https://github.com/NoeCarrillo7">
                    <img src="https://img.icons8.com/?size=512&id=AZOZNnY73haj&format=png" alt="GitHub" width="24" height="24">
                </a>
                
                <a style="margin-right: 20px;" href="#">
                    <img src="https://img.icons8.com/?size=512&id=118466&format=png" alt="Facebook" width="24" height="24">
                </a>
                <a style="margin-right: 20px;" href="#">
                    <img src="https://img.icons8.com/?size=512&id=62855&format=png" alt="Whastapp" width="24" height="24">
                </a>
                <a style="margin-right: 20px;" href="#">
                    <img src="https://img.icons8.com/?size=512&id=59813&format=png" alt="Instagram" width="24" height="24">
                </a>
                
            </div>
        </div>
    </div>
</div>
